@model ESSPCORE.Attendance.AttEditSingleEmployee
@{
    ViewBag.Title = "Edit Multiple Entries-(Bestway:ESSP)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header ">

    <div class="page-header-content">
        <h4><i class="icon-arrow-right6 position-left text-black"></i> <span class="text-black">Daily Attendance Editor</span></h4>
    </div>
</div>
<!-- Page container -->


<div class="page-container">

    <!-- Page content -->

    <div class="page-content">
        <div class="content-wrapper">
            <!-- Basic datatable -->
            <div class="panel panel-flat">
                @using (Html.BeginForm("SaveEditEntries", "DailyEditor", FormMethod.Post))
                {
                    <div class="breadcrumb-line bg-grey">
                        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                        <ul class="breadcrumb">
                            <li><a href="index.html"> Dashboard</a></li>
                            <li class="active">Edit Multiple Entries</li>
                        </ul>
                        <ul class="breadcrumb-elements">
                            <li>
                                <button type="submit" value="Submit" class="btn btn-lg text-bold bg-blue-800 btn-custom" style="margin-right:-20px"><i class="icon-add position-left"></i>Submit Attendance</button>
                            </li>
                        </ul>
                    </div>

                    <div class="page-header ">

                        <div class="page-header-content">

                            <div class="row">
                                <div class="col-md-2"><h6 class="">EMP NO:<span class="text-bold">@Model.EmpNo</span> </h6></div>
                                <div class="col-md-7"><h6><span class="">NAME: </span> <span class="text-bold">@Model.EmpName :</span>   <span class="text-bold">@Model.JobTitleName </span> <span class="text-bold">(@Model.OUName)</span> </h6></div>
                                <div class="col-md-3"><h6><span class="">Date: </span> <span class="text-bold">@Model.DateFrom to @Model.DateTo</span></h6></div>
                            </div>
                            <input hidden type="text" name="empID" id="empID" value="@Model.EmployeeID" />
                            <input hidden type="text" name="dateFrom" id="dateFrom" value="@Model.DateFrom" />
                            <input hidden type="text" name="dateTo" id="dateTo" value="@Model.DateTo" />

                        </div>
                    </div>
                    <table class="table datatable-scroll-edit table-striped table-hover table-condensed sorting_desc descending">
                        <thead>
                            <tr class="">
                                <th class="text-bold">
                                    Date
                                </th>
                                <th style="display:none" class="text-bold">

                                </th>
                                <th class="text-bold">
                                    Code
                                </th>
                                <th class="text-bold">
                                    Start Time
                                </th>
                                <th class="text-bold">
                                    Shift Hours
                                </th>
                                <th class="text-bold">
                                    Time In
                                </th>
                                <th class="text-bold">
                                    Time Out
                                </th>
                                <th class="text-bold">
                                    Work
                                </th>
                                <th class="text-bold">
                                    System OT
                                </th>
                                <th class="text-bold">
                                    Approved OT
                                </th>
                                <th class="text-bold">
                                    New Remarks
                                </th>
                                <th class="text-bold">
                                    System Remarks
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.list)
                            {
                            <tr>
                                <td>
                                    <label class="text">@item.Date</label>
                                </td>
                                <td style="display:none">
                                    <input type="text" name="EmpDate-@item.No" style="width:50px" class="form-control2 text-center" value="@item.EmpDate">
                                </td>
                                <td>
                                    <input type="text" style="width:35px" name="DutyCode-@item.No" class="form-control2 text-center" value="@item.DutyCode">
                                </td>
                                <td>
                                    <input type="text" style="width:60px" name="DutyTime-@item.No" class="form-control2 text-center" minlength=4 maxlength="4" max="2400" value="@item.DutyTime">
                                </td>
                                <td>
                                    <input type="text" style="width:60px" name="ShiftTime-@item.No" class="form-control2 text-center" minlength=4 maxlength="4" max="2400" value="@item.ShiftTime">
                                </td>
                                <td>
                                    <input type="text" style="width:60px" name="TimeIn-@item.No" class="form-control2 text-center" minlength=4 maxlength="4" max="2400" value="@item.TimeIn">
                                </td>
                                <td>
                                    <input type="text" style="width:60px" name="TimeOut-@item.No" class="form-control2 text-center" minlength=4 maxlength="4" max="2400" value="@item.TimeOut">
                                </td>
                                <td>
                                    @item.WorkMinutes
                                </td>
                                <td>
                                    @item.OTMin
                                </td>
                                <td>
                                    @item.ApprovedOTMin
                                </td>
                                <td>
                                    <input type="text" style="width:120px" name="Remarks-@item.No" class="form-control2" value="@item.UserRemarks">
                                </td>
                                <td>
                                    @item.SystemRemarks
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>



