
@model ESSPCORE.ESSP.VMESSPLeaveDetails

@{ESSPCORE.Common.VMLoggedUser LoggedInUser = (ESSPCORE.Common.VMLoggedUser)HttpContext.Current.Session["LoggedInUser"];
    {
        ViewBag.Title = "Detail";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @Html.HiddenFor(model => model.PLeaveAppID)
    <div class="page-container ">
        <div class="timeline-row">
            <div class="panel panel-flat ">
                <div class="breadcrumb-line bg-grey">
                    <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/LoadDashboard"> Dashboard</a></li>
                        <li class="active"><a href="~/ESSP/ESSPLeaveApp">My Leave Applications</a></li>
                        <li class="active"><a href="#"> Details</a></li>
                    </ul>
                </div>
                <div class="page-content">
                    <div class="timeline-row post-even">
                        <div class="page-container ">
                            <div class="page-content">
                                <div class="col-md-2"></div>
                                <div class="col-md-8 ">
                                    <div class="timeline-row">

                                        <div class="panel panel-flat ">
                                            <div class="panel-heading">
                                                <h4 class="panel-title text-bold">
                                                    Leave Details for <span class="text-black"> @Html.DisplayFor(model => model.EmployeeName) </span>
                                                    @if (LoggedInUser.LineManagerID == Model.PUserID)
                                                    {
                                                        <span class="pull-right"><a class="btn btn-primary btn-xs text-semibold" href="~/ESSP/PendingLeaveApp">Back to list</a></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="pull-right"><a class="btn btn-primary btn-xs text-semibold" href="~/ESSP/ESSPLeaveApp">Back to list</a></span>
                                                    }
                                                </h4>

                                            </div>
                                            <div class="panel-body">

                                                @*<span class="h4">EMPLOYEE PROFILE OF  @Model.FullName : @Model.EmpID</span>*@



                                                <div class=" col-md-12">
                                                    <div class="profile-user-info-striped">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title text-black text-blue-700">Leave Information<a class="heading-elements-toggle"></a></h4>


                                                        </div>
                                                        <div class="row">
                                                            <section class="col-md-6">
                                                                <table class="table table-hover">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th class="text-semibold">
                                                                                Employee Name
                                                                            </th>
                                                                            <td class="profile-info-value">
                                                                                @Html.DisplayFor(model => model.EmployeeName)
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="text-semibold">
                                                                                Leave Type
                                                                            </th>
                                                                            <td>
                                                                                @if (Model.IsAccum == true)
                                                                                {
                                                                                    <span> Accumulated </span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    @Html.DisplayFor(modelItem => Model.LeaveTypeName)
                                                                                }

                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="text-semibold">
                                                                                From Date
                                                                            </th>
                                                                            <td>
                                                                                @Model.FromDate.ToString("dd-MMM-yyyy")
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="text-semibold">
                                                                                No of Days
                                                                            </th>
                                                                            <td>
                                                                                @Html.DisplayFor(model => model.NoOfDays)
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="text-semibold">
                                                                                Return Date
                                                                            </th>
                                                                            <td>
                                                                                @if (Model.ReturnDate != null)
                                                                                {
                                                                                    @Model.ReturnDate.Value.ToString("dd-MMM-yyyy")
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="text-semibold">
                                                                                Contact No
                                                                            </th>
                                                                            <td>
                                                                                @Html.DisplayFor(model => model.LeaveAddress)
                                                                            </td>
                                                                        </tr>
                                                                        @if (Model.LeaveTypeID == 3)
                                                                        {
                                                                            <tr>
                                                                                <th class="text-semibold">
                                                                                    View Medical Certificate
                                                                                </th>
                                                                                <td>
                                                                                    <div class="col-md-2 col-md-pull-1">
                                                                                        @Html.ActionLink("View Certificate", "OpenCertificate", "ESSPLeaveApp", new { fileName = Model.PLeaveAppID }, new { @class = "btn bg-primary btn-large", @target = "_blank" })
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                        <tr>
                                                                            <th>

                                                                            </th>
                                                                            <td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </section>
                                                            <section class="col-md-6">
                                                                <table class="table table-hover">
                                                                    <tbody>

                                                                        <tr>
                                                                            <th class="text-semibold">
                                                                                Designation Name
                                                                            </th>
                                                                            <td>
                                                                                @Html.DisplayFor(model => model.DesignationName)
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="text-semibold">
                                                                                Leave Date
                                                                            </th>

                                                                            <td>
                                                                                @Model.LeaveDate.ToString("dd-MMM-yyyy")
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="text-semibold">
                                                                                To Date
                                                                            </th>
                                                                            <td>
                                                                                @Model.ToDate.ToString("dd-MMM-yyyy")
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="text-semibold">
                                                                                Calendar Days
                                                                            </th>

                                                                            <td>
                                                                                @Html.DisplayFor(model => model.CalenderDays)
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="text-semibold">
                                                                                Half Leave
                                                                            </th>

                                                                            <td>
                                                                                @if (Model.IsHalf == true)
                                                                                {
                                                                                    <div class="text-semibold text-green-700">Yes</div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="text-semibold text-warning-700">No</div>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th>

                                                                            </th>
                                                                            <td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </section>
                                                        </div>
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title text-black text-blue-700"><i class="icon-comment-discussion"></i> Remarks<a class="heading-elements-toggle"></a></h4>
                                                        </div>
                                                        @foreach (var item in Model.DBVATLeaveApplicationFlow)
                                                        {

                                                            <div class="alert alert-info alert-styled-left alert-arrow-left alert-component">



                                                                <h6 class="alert-heading text-semibold">
                                                                    Submitted By&nbsp;&nbsp;&nbsp; <span class="text-muted text-bold"> @item.ByEmployeeName</span>
                                                                </h6>

                                                                <span class=" pull-right">
                                                                    <label class="control-label text-semibold ">&nbsp;&nbsp;&nbsp;&nbsp; At Stage:</label>

                                                                    <label class="text-black text-brown-800"> @item.LeaveStageName </label>

                                                                </span>
                                                                <ul class="media-list chat-list content-group">
                                                                    <li class="media">

                                                                        <div class="media-body">
                                                                            <div class="media-content">
                                                                                @item.Remarks
                                                                            </div>
                                                                            <span class="media-annotation display-block "><strong> Date Submitted</strong> :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  @item.CreatedDate <a href="#"><i class="icon-history position-right text-muted"></i></a></span>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>


                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript" src="~/Areas/ESSP/Scripts/EmpLeaveApplication.js"></script>
