@model ESSPCORE.EF.VHR_EmployeeCrewChange


@Html.HiddenFor(model => model.PEmployeeCrewChangeID)

<div class="modal-header bg-blue">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">
        <i class="icon-menu7"></i> &nbsp;
    </h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3 text-semibold">
                @Html.DisplayNameFor(model => model.CrewName)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.CrewName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-semibold">
                Start Date
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.StartDate)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-semibold">
                End Date
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.EndDate)
            </div>
        </div>
     
        <div class="form-group">
            <div class="col-md-3 text-semibold">
                Created Date
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.CreatedDate)
            </div>
        </div>
        @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "formDeleteID", id = "formDeleteID" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PEmployeeCrewChangeID)
}
    </div>
</div>
<div class="modal-footer">
    <a href="@Url.Action( "Index", "EmployeeCrewHistory", new { id = Model.EmpID })" id="@Model.EmpID" class="btn btn-primary bg-primary-300">Back To List</a>
    <input type="button" id="btnPostDelete" class="btn btn-danger bg-danger-800" value="Delete" />
</div>
<script type="text/javascript">
    $(document).ready(function () {
       EmployeeCrewHistoryPostDelete();
    });
</script>

