@{
    ViewBag.Title = "Absent - List (Bestway:ESSP)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ESSPCORE.Common.VMLoggedUser LoggedInUser = (ESSPCORE.Common.VMLoggedUser)HttpContext.Current.Session["LoggedInUser"]; }
@model List<ESSPCORE.Attendance.VMAbsentList>
<div class="page-header ">

    <div class="page-header-content">
        <h4><i class="icon-arrow-right6 position-left text-black"></i> <span class="text-black">Absent List</span></h4>
        <h6>List of those employees who are absent for more than 10 consective days from @DateTime.Today.AddDays(-31).ToString("dd-MM-yyyy") to @DateTime.Today.ToString("dd-MM-yyyy") </h6>
    </div>
</div>
<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Basic datatable -->
            <div class="panel panel-flat">
                <div class="breadcrumb-line bg-grey">
                    <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                    <ul class="breadcrumb">
                        <li><a href="index.html"> Dashboard</a></li>
                        <li class="active"> Absent Notification</li>
                    </ul>
                </div>

                <table class="table datatable-basic ">
                    <thead>
                        <tr class="">
                            <th class="text-bold">
                                Emp No
                            </th>
                            <th class="text-bold">
                                Name
                            </th>
                            <th class="text-bold">
                                Designation
                            </th>
                            <th class="text-bold">
                                Organizational Unit
                            </th>
                            <th class="text-bold">
                                Location
                            </th>
                            <th class="text-bold">
                                Status
                            </th>
                            <th class="text-bold">
                                Absent Days
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @item.EmpNo
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Designation
                            </td>
                            <td>
                                @item.OUname
                            </td>
                            <td>
                                @item.Location
                            </td>
                            <td>
                                @item.Status
                            </td>
                            <td>
                                @item.AbDays
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /basic datatable -->
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
<!-- Modal -->

<script type="text/javascript">
    $(document).ready(function () {
    });
</script>