
@model IEnumerable<ESSPCORE.EF.VEP_JobCardApplication>
@{
    ViewBag.Title = "Job Card History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <div class="page-header-content">
        <h4><i class="icon-arrow-right6 position-left text-bold"></i> <span class="text-black">Job Cards History</span></h4>
    </div>
</div>
<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Basic datatable -->
            <div class="panel panel-flat">
                <div class="breadcrumb-line bg-grey">
                    <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                    <ul class="breadcrumb">
                        <li><a href="~/Home/LoadDashboard"> Dashboard</a></li>
                        <li class="active"><a href="~/ESSP/ESSPJobCard/JobCardHistoryIndex">Job Cards History</a></li>
                    </ul>

                </div>

                <table class="table datatable-basic ">
                    <thead>
                        <tr>
                            <th class="text-bold">
                                Emp ID
                            </th>
                            <th class="text-bold">
                                Employee Name
                            </th>
                            <th class="text-bold">
                                Job Card Name
                            </th>
                            <th class="text-bold">
                                Date Started
                            </th>
                            <th class="text-bold">
                                Date Ended
                            </th>
                            <th class="text-bold">
                                Date Created
                            </th>
                            <th class="text-bold">
                            Total Minutes
                            </th>
                            <th class="text-bold">
                                Status
                            </th>
                            <th class="text-bold">
                                Action
                            </th>
                        </tr>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JobCardName)
                            </td>
                            <td>
                                @item.DateStarted.ToString("dd-MMM-yyyy")
                            </td>
                            <td>
                                @item.DateEnded.ToString("dd-MMM-yyyy")
                            </td>
                            <td>
                                @item.DateCreated.ToString("dd-MMM-yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Minutes)
                            </td>
                            <td>
                                @if (item.JobCardStageID == "A")
                                {
                                    <span class="label label-success">Approved</span>
                                }
                                @if (item.JobCardStageID == "P")
                                {
                                    <span class="label label-info">Pending</span>
                                }
                                @if (item.JobCardStageID == "R")
                                {
                                    <span class="label label-danger">Rejected</span>
                                }
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn border-blue-800 btn-flat text-indigo-600 btn-xs btn-icon btn-rounded dropdown-toggle" data-toggle="dropdown"><i class="icon-cog5"></i><span class="caret"></span></button>
                                    <ul class="dropdown-menu">

                                        <li>
                                            <a href="@Url.Action("Detail", "ESSPJobCard", new { id = item.PJobCardAppID  })">Details</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /basic datatable -->
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
<!-- Modal -->
<div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modelBody">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Areas/ESSP/Scripts/EmpJobCard.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        EmpJobCardGetCreate();
    });
</script>
