@model IEnumerable<ESSPCORE.EF.VAT_ShiftChanged>
@{
    ViewBag.Title = "Shift Change - List(Bestway:ESSP)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header ">
    <div class="page-header-content">
        <h4><i class="icon-arrow-right6 position-left text-black"></i> <span class="text-black">Shift Change</span></h4>
    </div>
</div>
<!-- Page container -->
<div class="page-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Basic datatable -->
            <div class="panel panel-flat">
                <div class="breadcrumb-line bg-grey">
                    <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                    <ul class="breadcrumb">
                        <li><a href="index.html"> Dashboard</a></li>
                        <li class="active"> Shift Change</li>
                      
                    </ul>
                    <ul class="breadcrumb-elements bg-blue-800" style="margin-right:-20px">
                        <li><a href="#" id="btnGetCreate"><i class="icon-add position-left"></i> Add Shift Change</a></li>
                    </ul>

                </div>

                <table class="table datatable-basic ">
                    <thead>
                        <tr>
                            <th class="text-bold">
                                @Html.DisplayNameFor(model => model.ChangedShiftDesc)
                            </th>
                            <th class="text-bold">
                                Shift Name
                            </th>
                            <th class="text-bold">
                                Location Name
                            </th>
                            <th class="text-bold">
                                @Html.DisplayNameFor(model => model.DateStart)
                            </th>
                            <th class="text-bold">
                                @Html.DisplayNameFor(model => model.DateEnd)
                            </th>
                            <th class="text-bold">
                                @Html.DisplayNameFor(model => model.StartTime)
                            </th>
                            <th class="text-bold">
                                @Html.DisplayNameFor(model => model.DayOff1)
                            </th>
                            <th class="text-bold">
                                @Html.DisplayNameFor(model => model.DayOff2)
                            </th>
                            <th class="text-bold"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChangedShiftDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ShiftName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocationName)
                            </td>
                            <td>
                                @item.DateStart.ToString("dd-MMM-yyyy")
                            </td>
                            <td>
                                @item.DateEnd.ToString("dd-MMM-yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DayOff1Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DayOff2Name)
                            </td>
                            <td>
                                <button type="button" id="btnGetEdit" onclick="ShiftCHGetEdit(@item.PShiftChangedID)" class="btn btn-xs border-blue-800 btn-flat text-indigo-600 btn-icon btn-rounded"><i class="icon-pencil6"></i></button>
                                <button type="button" id="btnGetDelete" onclick="ShiftCHGetDelete(@item.PShiftChangedID)" class="btn btn-xs border-warning text-warning-800 btn-flat btn-rounded"><i class="note-icon-trash"></i></button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /basic datatable -->
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
<!-- Modal -->
<div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content ">
                <div id="modelBody">

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Areas/Attendance/Scripts/ShiftChange.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ShiftCHGetCreate();
    });
</script>