@{
    ViewBag.Title = "JobCard - Step 1 (Bestway:ESSP)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ESSPCORE.Attendance.VMJobCardCreate
@using (Html.BeginForm("Create1", "JobCard", FormMethod.Post))
{
    <div class="page-header ">

        <div class="page-header-content">
            <h4><i class="icon-arrow-right6 position-left text-black"></i> <span class="text-black">Job Cards</span></h4>
        </div>
    </div>
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Basic datatable -->
                <div class="panel panel-flat">
                    <div class="breadcrumb-line bg-grey">
                        <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
                        <ul class="breadcrumb">
                            <li><a href="~/Home/Index"> Dashboard</a></li>
                            <li class="active"> Job Cards</li>
                            <li class="active"> Create</li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <article class="col-md-12">
                            <div class="">
                                <fieldset>
                                    <div id="DivStepOne">@Html.Action("StepOne", "EmpSelection", new { @area = "Common" })</div>
                                    <section class="col-md-4">
                                        <div class="panel-body bg-blue-800 border-radius-top" style="height:50px">
                                            <h6 id="Divheader2" style="margin-top:-5px" class="text-semibold">
                                                3. Enter Dates
                                            </h6>
                                        </div>
                                        <section class="col-md-12">
                                            <section class="row">
                                                <div class="form-group col-md-8">
                                                    <label class="text-semibold">From</label>
                                                    <input id="JobDateFrom" name="JobDateFrom" value="@ViewData["JobDateFrom"]" type="date" class="form-control" />
                                                </div>
                                            </section>
                                            <section class="row">
                                                <div class="form-group col-md-8">
                                                    <label class="text-semibold">To</label>
                                                    <input id="JobDateTo" name="JobDateTo" type="date" value="@ViewData["JobDateTo"]" class="form-control" />
                                                </div>
                                            </section>
                                            <section class="row">
                                                <div class="form-group col-md-8">
                                                    <label class="text-semibold">Card Type</label>
                                                    <div>@Html.DropDownList("JobCardTypeID", null, new { @class = "btn btn-default dropdown-toggle dropdown ComboBoxWidth" })</div>
                                                </div>
                                            </section>
                                            <section>
                                                <div id="JCValueDiv">
                                                    <div class="form-group col-md-8">
                                                        <label class="text-semibold">Minutes </label>
                                                        <input id="TotalMinutes" name="TotalMinutes" type="number" class="form-control" />
                                                        <br />
                                                    </div>
                                                </div>
                                            </section>

                                            <section class="row">
                                                <div class="form-group col-md-12">
                                                    <label class="text-semibold">Reason</label>
                                                    @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control" })
                                                </div>
                                            </section>
                                        </section>

                                        <br />
                                    </section>
                                </fieldset>
                            </div>
                        </article>
                    </div>
                    <div class="panel-footer">
                        <a class="heading-elements-toggle"><i class="icon-more"></i></a>
                        <div class="heading-elements">
                            <button type="submit" class="btn btn-custom bg-blue-800 heading-btn pull-right">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /basic datatable -->
            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
    <!-- Modal -->
    <script type="text/javascript" src="~/Areas/Attendance/Scripts/JobCard.js"></script>
    <script>
        $(document).ready(function () {

            Create1();
        });
    </script>
}
