@model ESSPCORE.EF.LeaveApplication
@using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formCreateID", id = "formCreateID" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header bg-blue-800">
        <div class="col-md-7">
            <h4 class="modal-title">
                <i class="icon-menu7"></i> &nbsp;Leave Application (Leave ID: @Model.PLeaveAppID)
            </h4>
        </div>
        <div class="col-md-5">
            <div class="pull-right">
                <div class="form-group">
                    <div class="control-label text-semibold col-md-4">Year</div>
                    <div class="col-md-8">
                        @Html.DropDownList("FinancialYearID", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EmpID)

    <div class="modal-body">
        <div class="form-horizontal">
            <section class="col-md-8">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="col-lg-2 col-md-2 col-sm-2 control-label text-semibold ">Emp No<span style="color:red;">*</span></label>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="input-group">
                                <input id="EmpNo" autofocus name="EmpNo" type="text" class="form-control" placeholder="EMP-00001" />
                                <span class="input-group-btn">
                                    <button type="button" name="btnGetEmployee" autofocus value="Search" class="btn btn-secondary" id="btnGetEmployee" style="padding-bottom:.6em">Search</button>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.EmpID, "", new { @class = "text-danger" })
                        </div>

                        <div class="control-label col-md-2 text-semibold">Leave Type<span style="color:red;">*</span></div>
                        <div class="col-md-4">
                            @Html.DropDownList("LeaveTypeID", null, new { @class = "btn btn-default" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(model => model.LeaveTypeID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div id="PVLB">
                    </div>
                </div>
                @*<div id="DivLeaveCheck">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="checkbox-inline text-semibold" for="IsAccum">
                                @Html.CheckBox("IsAccum", new { @class = "text-danger", tabindex = 1 })
                                @Html.ValidationMessageFor(model => model.IsAccum, "", new { @class = "text-danger" })
                                Deduct Accumulated Leave Balance?
                            </label>
                        </div>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="control-label text-semibold col-md-2  ">From Date<span style="color:red;">*</span></div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.FromDate, "{0:MM/dd/yyyy}", new { @class = "form-control required", @type = "date", @required = "required" })
                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="control-label text-semibold col-md-2 text-right ">To Date<span style="color:red;">*</span></div>
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.ToDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @type = "date", @required = "required" })
                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6">
                        <label class="checkbox-inline text-semibold" for="HalfLvHA">
                            @Html.CheckBox("HalfLvHA", new { @class = "text-danger", tabindex = 1 })
                            @Html.ValidationMessageFor(model => model.IsHalf, "", new { @class = "text-danger" })
                            Half Leave
                        </label>
                    </div>
                    <div class="control-label text-semibold col-md-2  ">Contact No</div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.LeaveAddress, new { htmlAttributes = new { @class = "form-control", tabindex = 6 } })
                        @Html.ValidationMessageFor(model => model.LeaveAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label text-semibold col-md-2 ">Reason</div>
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.LeaveReason, new { htmlAttributes = new { @class = "form-control", tabindex = 5 } })
                        @Html.ValidationMessageFor(model => model.LeaveReason, "", new { @class = "text-danger" })
                    </div>

                </div>

            </section>
            <section class="col-md-4">
                <div class="content-group">
                    <div class="panel-body bg-grey border-radius-top text-center" style="height:50px">
                        <h6 class="text-bold" style="margin-top:-5px">
                            EMPLOYEE INFORMATION
                        </h6>
                    </div>
                    <div class="panel panel-flat">
                        <div class="table-responsive">
                            <table class="table table-condensed">

                                <tbody>
                                    <tr>
                                        <td class="small text-bold">
                                            Name:
                                        </td>
                                        <td>
                                            <h6 id="EName" class="small"></h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="small text-bold">
                                            Position:
                                        </td>

                                        <td>
                                            <h6 id="EDesignation" class="small"></h6>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="small text-bold">
                                            OU:
                                        </td>

                                        <td>
                                            <h6 id="EOU" class="small"></h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="small text-bold">
                                            DOJ:
                                        </td>
                                        <td>
                                            <h6 id="EDOJ" class="small"></h6>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>

    <div class="modal-footer">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-custom-grey bg-grey", tabindex = 7 })
        <button type="button" id="btnPostCreate" class="btn btn-custom bg-blue-800" value="Submit">Submit</button>
    </div>

}
<script type="text/javascript">
    $('#myModal').on('hidden.bs.modal', function () {
        return false;
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        LvFromDateToDate();
        LvAppPostCreate();
        GetEmployee();
    });
</script>
